.formMoleInHole {
    display: grid;
    grid-template-columns: auto 90px 90px 90px auto;
    grid-template-rows: 100px;
    max-width: 600px;
    width: 100%;
    column-gap: 5px;
}

.buttonFormMoleInHole {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 90px;
    height: 100px;
    background-image: url('./img/mole.jpg');
    background-position: center center;
    font-size: 42;
}
.speedSelection {
    display: grid;
}

.sizedSelection {
    display: grid;
}

.labelFormMoleInHole {
    display: grid;
    align-items: center;
    justify-items: center;
}

.missMoleInHole {
    color: red;
    font-size: 42px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.hitMoleInHole {
    color: green;
    font-size: 42px;
    display: grid;
    align-items: center;
    justify-items: center;
}
