.modalMoleInHole {    
    display: grid;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 0;
    justify-items: center;
    align-items: center;
}

.h1lossModalMoleInHole {
    color: red;
    background-color: white;
    border-radius: 15px;
}
.h1winModalMoleInHole {
    color: green;
    background-color: white;
    border-radius: 15px;
}